[Desktop Entry]
Version=1.0
Name=@PACKAGE_NAME@
Comment=@PACKAGE_DESCRIPTION@
TryExec=@PACKAGE_EXE_NAME@
Exec=@PACKAGE_EXE_NAME@
Icon=@PACKAGE_NAME@
Terminal=false
Type=Application
Categories=Game;
